@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>App Sections</h2>
<ul>
    <li>
        @Html.ActionLink("Manage Contacts", "Index", "Contacts")
    </li>
    <li>
        @Html.ActionLink("Browse Contacts", "Index", "Browse")
    </li>
</ul>
