@using Model.Projections
@model IEnumerable<ContactBriefInfo>
@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>Contacts</h2>

<table>
@foreach (ContactBriefInfo contact in Model) { 
    <tr>
        <td>
            @contact.FirstName
        </td>
        <td>
            @contact.LastName
        </td>
        <td>
            @contact.Company
        </td>
    </tr>
}
</table>