td, th {
    border: solid 1px #000;
}

ul.noMark {
    list-style-type: none;
}

.card {
    border: solid 1px #000;
    padding: 5px;
    display: inline-block;
    margin: 3px;
    min-width: 300px;
    min-height: 150px
}